<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.fatecourinhos.napp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.cadastros.CadastroHorario" />

        <activity
            android:name=".view.MenuAlunoActivity"
            android:label="@string/title_activity_menu_aluno" />
        <activity android:name=".view.cadastros.CadastroAluno" />
        <activity android:name=".view.cadastros.CadastroProfissional" />
        <activity android:name=".view.cadastros.CadastroResponsavel" />
        <activity
            android:name=".view.MenuProfissionalActivity"
            android:label="@string/title_activity_menu_profissional"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.SobreActivity" />
        <activity android:name=".view.LoginActivity">

        </activity>
    </application>

</manifest>